body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header{
    background-color: #ebccb4;
    justify-content: center;
}
.div1{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.div2{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.div2 ul{
    list-style: none;
}
.div2 ul li{
    font-size: 20px;
    float: left;
    border: 1px solid crimson;
    width:260px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    text-transform: capitalize;
    position: relative;
    font-size:20px;
    background-color: #efeee6;
}
.div2 ul ul{
    display: none
}
.div2 ul :hover{
    background-color: #e18d92;
    transition: all ease-in 0.5s;
}
.div2 ul li:hover >ul {
    display: block;
}





.form1{
    width: fit-content;
    height: fit-content;
    background-color: #cfd68b;
    text-align: center;
    margin: 100px auto;
    padding: 50px 90px;
    font-size: 30px;
    border-radius: 10px;
    bottom: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px;
}
.form1 input{
    padding: 7px 60px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}





footer{
    background-color: rgb(39, 36, 36);
    color: white;
    position: absolute;
    width: 100%;
}
.creat{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.text{
    text-align: center;
    width: 800px;
    position: relative;
    margin: 0 auto;
    top: 10px;
    font-style: italic;
    font-size: 19px;
}
.icon{
    font-size: 35px;
    text-align: center;
    bottom: -15px;
    position: relative;
    padding: 0 40px;
}
.last{
    font-size: 25px;
    text-align: center;
    position: relative;
    background-color: rgb(29, 27, 27);
    top: 20px;
    bottom: 20px;

}